body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

.container {
  max-width: fit-content;
  margin: auto;
  background: white;
  padding: 2rem;;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

header h1 {
  margin-bottom: 0.2rem;
  font-size: 2.2em;
}

.contact {
  list-style: none;
  padding: 0;
  font-size: 0.95em;
}

.contact li {
  margin: 0.2rem 0;
}

h2 {
  color: #005c99;
  border-bottom: 1px solid #ccc;;
  margin-top: 2rem;
}

ul {
  padding-left: 1.2rem;
  list-style: none;
}

a {
  color: #005c99;
  text-decoration: none;
}


@media screen { 
  body {
    font-size: 1em;
  }
  
  .container {
    padding: 1.5rem;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
}